html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.title--1{
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
}

.title--2{
    font-size: 32px;
    line-height: 38px;
    color: #010101;
    font-weight: 700;
}

.title--3{
    color: #393939;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
}

.redline{
    position: relative;
}

.redline::after{
    content: "";
    width: 112px;
    height: 4px;
    position: absolute;
    background-color: #cc144f;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.header__line{
    display: flex;
    height: 100px;
    align-items: center;
}

.header__logo{
    margin-right: 13px;
}

.header__link{
    color: #58b5d7;
    padding-left: 14px;
    border-left: 2px solid #bcbcbc;
}

.header__slider-item{
    background-position: center;
}

.header__slider-content{
    display: flex;
    max-width: 1040px;
    padding: 73px 0 85px;
    margin-left: 61px;
}

.header__slider-img{
    margin-right: 67px;
    max-width: 337px;
    max-height: 410px;
}

.header__slider-title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 45px;
}

.header__slider-text {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #d5d5d5;
    margin-bottom: 85px;
}

.header__slider-text--1 {
    margin-bottom: 35px;
}

.header__slider-button {
    border-radius: 15px;
    color: #fff;
    background-color: #00a0cc;
    padding: 18px 63px 20px 26px;
    font-weight: 700;
    position: relative;
}

.header__slider-button::after{
    position: absolute;
    content: "";
    width: 26px;
    height: 23px;
    background-image: url(../images/tg.svg);
    margin-left: 6px;
}

button{
    padding: 0;
}

.header .slick-slider .slick-dots button{
    border: none;
    background: #a4aeb3;
    font-size: 0;
    height: 18px;
    width: 6px;
    position: relative;
    margin-bottom: 58px;
    transition: all .5s;
}

.header .slick-slider .slick-dots button::after {
    content: "";
    height: 6px;
    width: 18px;
    background: #a4aeb3;
    position: absolute;
    left: -6px;
    top: 6px;
    transition: all .5s;
}

.header .slick-slider .slick-dots .slick-active button{
    transform: scale(1.3889);
    background: #cc144f;
}

.header .slick-slider .slick-dots .slick-active button::after{
    background: #cc144f;
}

.header .slick-slider .slick-dots li{
    display: inline-block;
    margin: 0 15px;
    height: 30px;
}

.header .slick-slider .slick-dots{
    position: relative;
    margin: -50px auto 0;
    max-width: 144px;
}

.phone{
    margin-top: 21px;
    background-color: #e2eaf0;
    padding-top: 116px;
    background-image: url(../images/bg_main.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -155px;
    padding-bottom: 126px;
}

.phone__title{
    text-align: center;
    margin-bottom: 45px;
    padding-bottom: 32px;
}

.phone__item {
    display: flex;
    margin-left: 70px;
}

.phone__content {
    height: 100%;
    margin-top: 77px;
    max-width: 679px;
    margin-right: 90px;
    padding: 39px 0 45px 47px;
    position: relative;
}

.phone__content::before{
    border-left: 5px solid #00a0cc;
    border-radius: 2px;
    position: absolute;
    content: "";
    height: 100%;
    left: -5px;
    top: 0;
}

.phone__content-title{
    margin-bottom: 39px;
}

.phone__list {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.phone__points{
    position: relative;
    margin-left: 85px;
    color: #1b3542;
}

.phone__points +.phone__points {
    margin-top: 67px;
}

.phone__points span{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    line-height: 72px;
    color: #9ea3a8;
    margin-right: 25px;
    position: absolute;
    left: -85px;
    transform: translateY(-50%);
    top: 50%;
}

.phone__image {
    display: flex;
    align-items: center;
}

.advantages{
    background-color: #1b3542;
    padding: 87px 0 131px;
}

.advantages__title{
    text-align: center;
    padding-bottom: 26px;
    margin-bottom: 110px;
}

.advantages__items{
    display: flex;
    justify-content: space-between;
}

.advantages__item{
    text-align: center;
    margin: 0 5px;
}

.advantages__item-img{
    min-height: 113px;
    margin-bottom: 33px;
}

.advantages__item-text{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.spec {
    background-color: #1b3542;
    padding: 85px 0 137px;
}

.spec__title {
    text-align: center;
    padding-bottom: 33px;
    margin-bottom: 35px;
}

.spec__text {
    text-align: center;
    margin-bottom: 104px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
}

.spec__slider {
    display: flex;
    justify-content: space-around;
} 

.spec__slider-item {
    padding: 35px;
    background-color: #1e3b49;
    border-radius: 13px;
    margin: 0 32px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.spec__slider-item-block {
    display: flex;
    margin-bottom: 22px;
}

.spec__slider-item-img {
    border-radius: 50%;
    margin-right: 29px;
    height: 165px;
}

.spec__slider-item-info{
    color: #00a0cc;
}

.spec__slider-item-name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    padding-bottom: 24px;
    margin-bottom: 27px;
    position: relative;
    color: #fff;
}

.spec__slider-item-name::after{
    content: "";
    width: 38px;
    height: 2px;
    position: absolute;
    background-color: #cc144f;
    left: 0;
    bottom: 0;
}

.spec__slider-item-prof {
    margin-bottom: 10px;
}

.spec__slider-item-text {
    font-weight: 400;
}

.spec .slick-arrow{
    border: none;
    background-color: transparent;
    width: 26px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 7;
}

.spec .slick-prev{
    left: -30px;
    transform: rotate(-90deg);
}

.spec .slick-next{
    right: -30px;
    transform: rotate(90deg);
}

.ex {
  background-color: #e2eaf0;
  padding: 87px 0 97px;
  text-align: center;
}

.ex__title {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 90px;
}

.ex__inner {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.ex__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ex__list-link {
  color: #9ea3a8;
  font-size: 150px;
  line-height: 180px;
}

.ex__list-link--done{
  color: #00a0cc;
}

.footer {
    background-color: #1b3542;
    padding: 32px 0;
}

.footer__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__first {
    width: 34%;
}

.footer__logo {
    margin-right: 10px;
}

.footer__logo-link {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    padding-left: 13px;
    border-left: 2px solid #bcbcbc;
}

.footer__copy {
    font-size: 16px;
    line-height: 20px;
}

.footer__bot{
    width: 33%;
}

.footer__bot-link {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
    position: relative;
    padding-right: 15px;
    float: right;
}

.footer__bot-link::after{
    position: absolute;
    content: '';
    background-image: url(../images/footer_arrow.svg);
    width: 12px;
    height: 11px;
    top: 36%;
    margin-left: 3px;
    transform: rotate(90deg);

}





